.recipesMainContainer {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}

.recipesListFiltersContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.recipesListContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.recipesTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.backContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    text-decoration: none;
    background: transparent;
    padding: 0;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.backIconContainer {
    width: 16px;
    height: 16px;
    stroke: var(--black);
}

.backText {
    line-height: 1;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .recipesTitleContainer {
        max-width: 540px;
        gap: 20px;
    }

    .backContainer {
        gap: 6px;
        font-size: 14px;
        line-height: 1.2857;
        letter-spacing: -0.02em;
    }

    .backIconContainer {
        width: 18px;
        height: 18px;
    }

    .recipesMainContainer {
        padding: 0 16px;
        gap: 40px;
    }

    .recipesListFiltersContainer {
        gap: 40px;
    }

    .recipesListContainer {
        gap: 60px;
    }
}

@media only screen and (min-width: 1440px) {
    .recipesListContainer {
        width: 910px;
    }

    .recipesMainContainer {
        padding: 0 60px;
    }

    .recipesListFiltersContainer {
        flex-direction: row;
    }
}