.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 8px;
  display: block;
  border: none;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
}

.details .email,
.details .addedRecipes,
.details .followers {
  font-weight: bold;
  color: black;
}

.details .value {
  font-weight: bold;
  color: black;
}

.name {
  text-align: center;
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.email {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
  margin: 0;
  text-align: left;
}

.stats {
  font-size: 14px;
  margin-bottom: 4px;
}

.addedRecipes,
.followers {
  text-align: left;
}

@media (min-width: 320px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 24px;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

}

@media (min-width: 375px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 24px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 24px;
  }

  .tabsSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }

}

@media (min-width: 1440px) {
  .userInfo {
    gap: 32px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }
}