.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
  padding: 16px;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 16px;
  display: block;
  border: 2px solid #007bff;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  margin: 0;
}

.email {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
  margin: 0;
}

.stats {
  font-size: 14px;
  margin-bottom: 4px;
}