.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  /* margin-bottom: 20px; */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #BFBEBE;
  background-color: rgba(255, 255, 255, 0.5);
  
  
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
  /* width: 234px; */
  align-items: flex-start;
  gap: 6px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.details .email,
.details .addedRecipes,
.details .followers {
  color: #BFBEBE;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.28px;
}

.details .value {
  font-weight: bold;
  color: black;
}

.name {
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #050505;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-transform: uppercase;

}

.email {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
  margin: 0;
  text-align: left;
}

.stats {
  font-size: 14px;
  margin-bottom: 4px;
}

.addedRecipes,
.followers {
  text-align: left;
}

@media (min-width: 320px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    /* margin-bottom: 24px; */
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

}

@media (min-width: 375px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    /* margin-bottom: 24px; */
  }

  .avatar {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    /* margin-bottom: 24px; */
  }

  .tabsSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }

}

@media (min-width: 1440px) {
  .userInfo {
    gap: 32px;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }
}
