.title {
  border-radius: 0px;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  color: var(--black);
  cursor: text;
  background: none;
  padding-left: 0;
  width: 100%;
  height: auto;
  resize: both;
  overflow: hidden;
  resize: none;
  margin-bottom: 32px;
}

.title::placeholder {
  color: var(--grey);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 117%;
    margin-bottom: 40px;
  }
}
