.ingredientList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  line-height: 143%;
}

.ingredientListItem {
  width: 152px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.ingredientListItem img {
  width: 75px;
  height: 75px;
  padding: 10px;
  border-radius: 15px;
  border-color: var(--grey);
  border: 1px solid;
}

.ingredientName {
  color: var(--black);
  font-size: 16px;
}

.ingredientMeasurement {
  color: var(--grey);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .ingredientList {
    grid-template-columns: repeat(3, 1fr);
    line-height: 150%;
  }

  .ingredientListItem img {
    width: 90px;
    height: 90px;
  }
}
