.description {
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--grey);
}

@media (min-width: 768px) {
  .description {
    max-width: 531px;
    margin-bottom: 40px;
    color: var(--dark-grey);
  }
}