.tabsListContainer {
  position: relative;
  margin: 0 -16px;

  &::after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    left: 16px;
    width: calc(100% - 32px);
    height: 1px;
    background-color: var(--grey);
  }
}

.tabsList {
  display: flex;
  overflow-x: auto;
  padding: 0 16px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  gap: 30px;
  scrollbar-width: none;
}

.tabsList::-webkit-scrollbar {
  display: none;
}

.tab {
  position: relative;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0 0 14px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--grey);
  cursor: pointer;
  transition: color 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
}

.tab:hover {
  color: var(--black);
}

.tab.active {
  color: var(--black);

  &::after {
    background-color: var(--black);
  }
}

@media (min-width: 768px) {
  .tabsListContainer {
    margin: 0;

    &::after {
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--grey);
    }
  }

  .tabsList {
    gap: 40px;
    padding: 0;
  }

  .tab {
    font-size: 20px;
    line-height: 1.2;
  }
}
