.hero {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  height: 970px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -160px;
}

.header {
  width: 1280px;
  height: 46px;
  position: absolute;
  top: 20px;
  left: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.title {
  width: 875px;
  height: 180px;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: -1.8px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 154px;
}

.subtitle {
  width: 577px;
  height: 48px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
  color: #ffffff;
  margin-top: -40px;
  margin-bottom: 40px;
}

.imageGallery {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
}

.secondImage {
  width: 302px;
  height: 273px;
  overflow: hidden;
  border-radius: 30px;
  transform: rotate(-11deg);
  position: relative;
  z-index: 2;
}

.mainImage {
  width: 128px;
  height: 116px;
  overflow: hidden;
  border-radius: 15px;
  transform: rotate(12deg);
  position: relative;
  right: 50px;
  top: 60px;
  margin-top: 92px;
}

.mainImage img,
.secondImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.verticalLine {
  position: absolute;
  height: 970px;
  width: 1px;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.04) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.line1 {
  left: 60px;
}

.line2 {
  left: 268px;
}

.line3 {
  left: 1132px;
}

.line4 {
  left: 1340px;
}

@media (max-width: 1440px) {
  .hero {
    width: 1400px;
    height: 970px;
  }

  .title {
    font-size: 90px;
    line-height: 90px;
    margin-top: 154px;
  }

  .imageGallery {
    bottom: 110px;
  }

  .subtitle {
    overflow-wrap: break-word;
  }

  .line1 {
    left: 60px;
  }

  .line2 {
    left: 268px;
  }

  .line3 {
    left: 1132px;
  }

  .line4 {
    left: 1340px;
  }
}

@media (max-width: 768px) {
  .hero {
    width: 736px;
    height: 992px;
  }

  .title {
    width: 678px;
    height: 140px;
    font-size: 70px;
    line-height: 70px;
    margin-top: 217px;
  }

  .subtitle {
    font-size: 16px;
    margin-top: -30px;
  }

  .imageGallery {
    position: relative;
    margin-top: 200px;
    left: auto;
    transform: none;
    justify-content: center;
  }

  .secondImage {
    width: 302px;
    height: 273px;
    transform: rotate(-11deg);
  }

  .mainImage {
    width: 128px;
    height: 116px;
    transform: rotate(12deg);
    left: -25px;
  }

  .line1 {
    left: 16px;
  }

  .line2 {
    left: 224px;
  }

  .line3 {
    left: 512px;
  }

  .line4 {
    left: 720px;
  }
}

@media (max-width: 375px) {
  .hero {
    width: 359px;
    height: 796px;
  }

  .title {
    width: 327px;
    height: 120px;
    font-size: 40px;
    line-height: 40px;
    margin-top: 194px;
  }

  .subtitle {
    width: 326px;
    height: 60px;
    font-size: 14px;
    margin-top: -20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    overflow-wrap: break-word;
  }

  .imageGallery {
    position: relative;
    margin-top: 200px;
    left: auto;
    transform: none;
    justify-content: center;
  }

  .secondImage {
    width: 190px;
    height: 172px;
    transform: rotate(-11deg);
  }

  .mainImage {
    width: 77px;
    height: 70px;
    transform: rotate(12deg);
    top: 13px;
    left: -11px;
  }

  .line1 {
    left: 8px;
  }

  .line2 {
    left: 500px;
  }
}
