.hero {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin: -110px auto 0;
  padding: 194px 0 338px;
  overflow: hidden;
  border-radius: 20px;

  @media (min-width: 768px) {
    margin-top: -134px;
    border-radius: 30px;
    padding: 217px 0 451px;
  }

  @media (min-width: 1440px) {
    margin-top: -149px;
    padding: 154px 0 452px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.title {
  max-width: 875px;
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 40px;
  line-height: 1em;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 70px;
    margin: 0 -3px 40px;
  }

  @media (min-width: 1440px) {
    font-size: 90px;
    margin: 0 0 40px;
  }
}

.subtitle {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  margin: 0 0 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    margin: 0 0 40px;
  }
  
  @media (min-width: 1440px) {
    max-width: 577px;
  }
}

.verticalLine {
  position: absolute;
  height: 970px;
  width: 1px;
  top: 0;
  display: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.04) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.line1 {
  display: block;
  left: 16px;

  @media (min-width: 768px) {
    left: 32px;
  }

  @media (min-width: 1440px) {
    left: 60px;
  }
}

.line2 {
  @media (min-width: 768px) {
    display: block;
    left: 229px;
  }

  @media (min-width: 1440px) {
    left: 257px;
  }
}

.line3 {
  @media (min-width: 768px) {
    display: block;
    right: 240px;
  }

  @media (min-width: 1440px) {
    right: 262px;
  }
}

.line4 {
  @media (min-width: 768px) {
    display: block;
    right: 32px;
  }

  @media (min-width: 1440px) {
    right: 60px;
  }
}