.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: 375px) {
    max-width: 375px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 80px;
  }
}