.logout-button {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 24px;
}

.logout-button:hover {
  background-color: #333;
}