/* Sample of liraries' layout */
/* Custom prefix is: react-select*/

/* <div class="react-select-container">
  <div class="react-select__control">
    <div class="react-select__value-container">...</div>
    <div class="react-select__indicators">...</div>
  </div>
  <div class="react-select__menu">
    <div class="react-select__menu-list">
      <div class="react-select__option">...</div>
    </div>
  </div>
</div> */

.react-select-container {
  position: relative;
  min-width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .react-select-container {
    position: relative;
    min-width: 315px;
    max-width: 315px;
  }
}

.react-select__control {
  width: 100%;
  height: 56px;
  padding: 16px 18px 16px 18px;
  border-radius: 30px;
  border: 1px solid var(--grey);
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  align-content: center;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  color: var(--black);
}

.react-select__control__error {
  border: 1px solid var(--error);
}

.react-select__control--menu-is-open {
  border-color: var(--dark-grey);
}

.dropdown-label {
  position: absolute;
  left: 18px;
  pointer-events: none;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: var(--black);
  transition: all 0.2s ease;
}

.react-select__indicators {
  position: static;
  pointer-events: none;
  border: none;
  color: var(--black);
}

.react-select__indicators {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__control--menu-is-open .react-select__indicators {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

div.react-select__menu {
  top: calc(100% + 8px);
  z-index: 12;
}

.react-select__option {
  color: var(--black);
  background-color: var(--white);
  padding: 12px 18px;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  transition: background-color 0.2s ease;
  text-align: left;
  transition-property: color background-color;
  transition-duration: var(--transition-duration);
}

.react-select__option.react-select__option--is-focused {
  /* color: var(--white); */
  background-color: var(--grey);
}

.react-select__option--is-selected {
  font-weight: bold;
}

.react-select__option--is-disabled[aria-disabled='true'] {
  opacity: 50%;
  cursor: not-allowed;
}

.react-select__placeholder {
  color: var(--grey);
}
