.card-container {
  width: 343px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
}

.card-image {
  width: 343px;
  height: 230px;
  border-radius: 30px;
  object-fit: cover;
}

.card-description {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 60px 0;
  text-align: left;
  padding: 0 10px;
}

.card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.author-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  margin: 0;
}

.favorite-button {
  right: 65px;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 20px;
  border-radius: 30px;
  outline: none;
  box-shadow: none;
}

.arrow-button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  outline: none;
  box-shadow: none;
}

.recipe-title {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  text-align: left;
  padding: 0 10px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .card-container {
    width: 305px;
    height: auto;
    min-height: 275px;
  }

  .card-image {
    width: 305px;
    height: 180px;
  }

  .card-description {
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 50px 0;
  }

  .recipe-title {
    font-size: 18px;
    line-height: 22px;
  }

  .author-container {
    bottom: 15px;
    left: 10px;
  }

  .author-image {
    width: 30px;
    height: 30px;
  }

  .author-name {
    font-size: 14px;
    line-height: 20px;
  }

  .favorite-button,
  .arrow-button {
    width: 34px;
    height: 34px;
    bottom: 15px;
  }

  .favorite-button {
    right: 65px;
  }
}