.recipeSection {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
}

.image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 30px;
}

.recipeContent {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.recipeHeader {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
h1 {
  margin: 0;
}
.tags {
  display: flex;
  gap: 10px;
}

.tag {
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  border-color: var(--grey);
  border: 1px solid;
}

.description {
  margin: 0;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.authorName {
  font-size: 14px;
  color: var(--dark-grey);
}

.ingredients {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.ingredientList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.ingredientListItem {
  width: 152px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.ingredientListItem img {
  width: 75px;
  height: 75px;
  padding: 10px;
  border-radius: 15px;
  border-color: var(--grey);
  border: 1px solid;
}

.ingredientName {
  color: var(--black);
  font-size: 16px;
}

.ingredientMeasurement {
  color: var(--grey);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .ingredientList {
    grid-template-columns: repeat(3, 1fr);
  }
  .image {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .recipeSection {
    flex-direction: row;
  }
}