.recipeSection {
  display: flex;
  row-gap: 32px;
  column-gap: 80px;
  flex-direction: column;
  color: var(--grey);
}

.recipeContent {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.recipeHeader {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 117%;
}

h2 {
  margin: 0;
  font-size: 20px;
  line-height: 120%;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  border-color: var(--grey);
  border: 1px solid;
}

.description {
  margin: 0;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.authorName {
  font-size: 14px;
  color: var(--grey);
}

.ingredients {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.instructions {
  margin: 20px 0 0 0;
}

@media (min-width: 768px) {
  .recipeSection {
    row-gap: 40px;
  }

  .recipeContent {
    gap: 40px;
  }

  .description {
    color: var(--dark-grey);
  }

  .author img {
    width: 50px;
    height: 50px;
  }

  .instructions {
    color: var(--dark-grey);
  }
}

@media (min-width: 1440px) {
  .recipeSection {
    flex-direction: row;
  }
}
