.wrapper {
}

.button {
  border: 1px solid var(--grey);
  border-radius: 30px;
  padding: 16px;
  width: 48px;
  height: 48px;
  color: var(--black);
  line-height: 0;
  font-size: 16px;
  font-weight: 800;
  user-select: none;
  display: inline;
  background: none;
}

.value {
  display: inline-block;
  padding: 0 12px;
  color: var(--black);
  width: 80px;
  text-align: center;
}
