.photo-uploader {
  width: 100%;
  height: 318px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23BFBEBEFF' stroke-width='1' stroke-dasharray='5%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .photo-uploader {
    height: 400px;
  }

  .icon {
    width: 64px;
    height: 64px;
  }
}

.photo-uploader:hover {
  cursor: pointer;
}

.title-upload {
  font-family: var(--font-family);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black);
  background: none;
  margin: 0 auto;
  display: block;
}

.btn-img-upload {
  composes: title-upload;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .btn-img-upload {
    margin-top: 20px;
  }
}

.photo-uploader-image {
  margin-bottom: 16px;
}
