.testimonials {
  padding: 64px 0 0;
  background-color: white;
}

.content {
  max-width: 822px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-family: var(--font-primary);
  color: var(--dark-grey);
  margin: 0 0 16px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.title {
  font-size: 24px;
  line-height: 1.3375em;
  font-weight: 800;
  letter-spacing: -0.8px;
  font-family: var(--font-primary);
  color: var(--black);
  margin: 0 0 12px;

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 1.1em;
    margin-bottom: 0;
  }
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.quoteMark {
  width: 40px;
  height: 32px;
  margin-left: 8px;
  margin-bottom: 20px;
  align-self: flex-start;

  @media (min-width: 768px) {
    margin-top: -12px;
    margin-left: 40px;
    margin-bottom: 40px;
    min-width: 59px;
    min-height: 48px;
  }

  @media (min-width: 768px) {

  }
}

.testimonialText {
  font-size: 18px;
  line-height: 1.34em;
  font-weight: 500;
  font-family: var(--font-primary);
  letter-spacing: -0.02em;
  color: var(--black);
  margin: 0 0 64px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 80px;
  }
}

.testimonialAuthor {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: var(--black);
  text-transform: uppercase;
  margin: 0 0 40px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2em;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.paginationDot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--grey);
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.paginationDot.active {
  background-color: var(--black);
}
