.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  /* padding: 0 32px; */
  box-sizing: border-box;
}

.layout {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.leftColumn {
  flex: 1;
  max-width: 300px;
}

.rightColumn {
  flex: 2;
}
