.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--grey);
}

.breadcrumbItem {
  display: flex;
  align-items: center;
}

.link:hover {
  color: var(--black);
}

.current {
  font-weight: bold;
  color: #333;
}

.separator {
  margin: 0 8px;
  color: #aaa;
}

@media (min-width: 768px) {
  .breadcrumbs {
    margin-bottom: 40px;
  }
}
