.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--gray);
}

.breadcrumbItem {
  display: flex;
  align-items: center;
}

.link:hover {
  color: var(--main);
}

.current {
  font-weight: bold;
  color: #333;
}

.separator {
  margin: 0 8px;
  color: #aaa;
}
