@import 'assets/styles/default.css';

body {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: var(--grey);
  letter-spacing: -0.02em;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-grey);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--black);
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* styles from branch 'react-component-decomposition' */
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: none;
}

input,
textarea,
select,
button {
  color: inherit;
  outline: none;
}

/* styles from branch 'react-component-decomposition' */
input,
textarea,
select,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  background-color: #f9f9f9;
}

/* end styles from branch 'react-component-decomposition' */

input[type='text'] {
  cursor: text;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a:hover {
  color: #747bff;
}
