:root {
  --white: #fff;
  --main: #050505;
  --grey: #bfbebe;
  --black: #050505;
  --border: #e8e8e8;
  --dark-grey: #1a1a1a;
  --error: #e53935;
  --light-grey: rgba(255, 255, 255, 0.2);

  --font-primary: 'Mulish', sans-serif;
}
