:root {
  --white: #fff;
  --grey: #bfbebe;
  --dark-grey: #1a1a1a;
  --light-grey: rgba(255, 255, 255, 0.2);
  --black: #050505;
  --border: #E8E8E8;
  --error: red;

  --font-primary: 'Mulish', sans-serif;
}
