:root {
  --white: #fff;
  --grey: #bfbebe;
  --dark-grey: #1a1a1a;
  --dark-grey-50: #1a1a1a88;
  --light-grey: rgba(255, 255, 255, 0.2);
  --black: #050505;
  --border: #e8e8e8;
  --error: #e53935;
  --error-50: #e5373480;

  --font-primary: 'Mulish', sans-serif;
  --transition-duration: 250ms;
}
