.networkLinks {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid var(--grey);
  transition: background-color 0.4s ease, border-color 0.4s ease;

  &:hover, &:focus {
    border-color: var(--black);
    background: var(--black);
    svg {
      fill: var(--white);
    }
  }

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  svg {
    transition: fill 0.4s ease;
  }
}